* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.body {
  margin: 0;
  padding: 0;
}

.image-wrapper {
  background-image: url('./games.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* background-attachment: fixed; */
  /* position: relative; */
  /* width: 100%; */
  /* height: 610px; */
  height: 100vh;
}

.game-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5vh;

  margin-left: auto;
  margin-right: auto;
  /* height: 100vh; */
  width: auto;
}

#game-title {
  font-size: 2rem;
  padding: 2.5vh;
  background-color: #f9d240;
  border-radius: 5px;
  font-weight: 600;
}

.score-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2.5vh;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 1.4rem;
}

#score,
#result {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 1.6rem;
  margin: 2vh;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 370px;
  height: 370px;
  background-color: rgb(82, 255, 255);
}

.grid div {
  width: 80px;
  height: 80px;
  /* background-color: yellow; */
  font-size: 40px;
  text-align: center;
  font-weight: bold;
  margin: 5px;
  border-radius: 5px;
  line-height: 2.4;
}
